/*Dashboard progressbar*/
.progress .progress-bar {
    border-radius: 2px;
    background-color: #007E33;
}

.progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%,
    transparent 25%, transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%, transparent);

    background-size: 1rem 1rem;
    background-color: #437abd;
}

.progress-bar.active {
    animation: reverse progress-bar-stripes 1s linear infinite, animate-positive 2s;
}

@-webkit-keyframes animate-positive {
    0% {
        width: 0%;
    }
}

@keyframes animate-positive {
    0% {
        width: 0%;
    }
}

/* End Dashboard Progressbar*/

/*Change Formular loader */
.didChangeContactPers {
    text-align: right;
}

.didChangeContactPers .fas {
    color: green;
    -webkit-animation: rotation 2s infinite linear;
}

.didChangeRequest {
    text-align: right;
}

.didChangeRequest .fas {
    color: green;
    -webkit-animation: rotation 2s infinite linear;
}

.didChangeFurtherInfo {
    text-align: right;
}

.didChangeFurtherInfo .fas {
    color: green;
    -webkit-animation: rotation 2s infinite linear;
}

.didChangeFiles {
    text-align: right;
}
.didChangeFiles .fas {
    color: green;
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(365deg);
    }
}

/* Sidebar*/
@media (max-width: 767px) {
    .sidebar {
        width: 100%;
    }
    .sidecard {
        width: 100%;
        font-weight: 400;
        border: 0;
        -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }
    .sidecard-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1.25rem;
    }
    .sidecard-body .col-sm-4 {
        text-align: right;
    }
}



/* sticky Sidebar */
@media (min-width: 767px) {
    /* The sticky */
    .sidebar {
        position: -webkit-sticky;
        position: sticky;
        top: 70px;
    }

    .sidecard {
        width: 200px;
        border: 0;

    }

    .sidecard-body {
        flex: 1 1 auto;
        min-height: 1px;
    }
    .sidecard-body .col-sm-4 {
        text-align: right;
    }
}

/*File Input DropZone*/
#dropZone {
    border: 1px dashed #007E33;
    padding-left: 10px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}
#files{
    padding: 20px;
    display: none;
}
#error{
    color: red;
    font-weight: lighter;
}

.showButton{
    color: #2e2e2e !important;
    background-color: #ffffff !important;
    border: 2px solid #2e2e2e !important;
    text-transform: uppercase;
    word-wrap: break-word;
    white-space: normal;
    font-size: .81rem;
    position: relative;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
    text-align: center;
    vertical-align: middle;
    font-weight: 400;
    padding-top: 0.84rem;
    padding-right: 1.14rem;
    padding-bottom: 0.84rem;
    padding-left: 1.14rem;
}
.showButton a {
    text-decoration: none;
}

/*Files responsive anzeigen lassen */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(133px, 1fr));
    gap: 20px;
    grid-auto-flow: dense;
}

.gallery figure {
    position: relative;
    margin: 0;
    /* figure hat sonst einen browsereigenen Abstand! */

    counter-increment: posMarkup;
}

.gallery figure.landscape {
    grid-column-end: span 2;
}

.gallery figure.panorama {
    grid-column-end: span 3;
}

.gallery figure img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
/*End Files responsive anzeigen lassen */

#einbinden {
    display: none;
}

/*Error message*/
.msg {
    margin-top: -40px;
}
